.electoral-vote-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .candidate-name {
    width: 100px;
    text-align: center;
  }
  
  .bar-container {
    display: flex;
    width: 60%; /* Adjust this percentage to control the width of the bar */
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .bar {
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    position: absolute;
  }
  
  .republican {
    background-color: #FF6347; /* Red */
    left: 0;
  }
  
  .democrat {
    background-color: #4682B4; /* Blue */
    right: 0;
  }
  